

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 100%;
  background-color: #3397DB;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
  padding: 10px 0 0;
  text-align: center;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  padding: 0 10px;
  margin: 10px 0 10px 10%;
  width: 35%;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: white;
  list-style: outside none none;
  margin-left: 3.8%;
  padding: 30px 0 60px 0;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
}
#restaurants-list li {
  background-color: white;
  box-sizing: border-box;
  border: solid #ccc 1px;
  border-radius: 5px;
  box-shadow: 7px 7px 10px -2px rgba(153,153,153,0.59);
  font-family: Arial,sans-serif;
  margin: 40px 3% 15px 0;
  min-height: 380px;
  text-align: left;
  width: 30%;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: auto;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 15pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 15px 15px 10px 15px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0 15px;
  font-size: 12pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 10px 15px;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Media Queries ====================== */
/*For devices with width that it is lower than 700px*/
@media screen and (max-width: 700px) {
  nav h1 a {
    font-size: 13pt;
    letter-spacing: 5px;
  }
  nav {
    height: 60px;
  }
  #map {
    height: 250px;  
  }

  #restaurants-list {
    margin-left: 0;
    padding: 0;
  }
  #restaurants-list li {
    margin: 5% auto;
    width: 80%;
  }
  #footer {
    font-size: 7pt;
    padding: 20px 25px;
  }
  .filter-options select {
    margin: 10px 0 10px 4.5%;
    width: 43%;
  }
  .filter-options h2 {
    text-align: left;
  }
}

/*For devices with width that it is between 701px and 1103px*/
@media screen and (min-width: 701px) and (max-width: 1103px) {
  nav h1 a {
    font-size: 17pt;
    letter-spacing: 7px;
  }
  nav {
    height: 70px;
  }
  #map {
    height: 400px;  
  }

  #restaurants-list {
    margin-left: 0;
    padding: 0;
  }
  #restaurants-list li {
    margin: 5% 0 2% 5.5%;
    width: 42%;
  }
  #footer {
    font-size: 7pt;
    padding: 20px 25px;
  }
  .filter-options select {
    margin: 10px 0 10px 10%;
    width: 35%;
  }