/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  max-height: 80px;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: calc(100% - 145px);
  position: fixed;
  right: 0;
  top: 81px;
  width: calc(100% - 420px);
  z-index: 1;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
  width: 100%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
#restaurant-container, #reviews-container {
  background-color: white;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  border-right: 1px solid #d9d9d9;
  box-shadow: 3px 0px 10px -2px rgba(71,71,71,0.35);
  padding: 140px 40px 30px;
  position: relative;
  width: 340px;
  z-index: 2;
}
#reviews-container {
  padding: 30px 40px 70px 40px
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 20px;
  position: relative;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}

/* ====================== Media Queries ====================== */
/*For devices with width that it is lower than 760px*/
@media screen and (max-width: 759px) {
  nav h1 a {
    font-size: 12pt;
    letter-spacing: 6px;
  }
  nav {
    height: 50px;
  }
  nav h1 {
    padding-top: 8px;
  }
  #breadcrumb {
    display: none;
  }
  #maincontent {
    height: 100%;
  }
  .inside #map-container {
    background: none;
    height: 30%;
    top: 50px;
    z-index: 3;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    box-shadow: 0px 0px 20px -2px rgba(71,71,71,0.35);
  }
  #restaurant-name {
    font-size: 16pt;
    margin: 15px 0 15px;
    text-align: center;
  }
  #reviews-container h2 {
    font-size: 16pt;
    margin-bottom: 10px;
  }
  #box1 {
    width: 80%;
    margin: auto;
  }
  #restaurant-container, #reviews-container {
    border-bottom: none;
    border-top: none;
    border-right: none; 
    box-shadow: none;
    padding: 10px 4% 30px;
    width: 92%;
    top: calc(30% + 50px);
  }
  #restaurant-hours {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #333;
    line-height: 1.5;
  }
  #footer {
    font-size: 5pt;
    padding: 13px 0;
  }
}

/*For devices with width that it is between 760px and 1103px*/
@media screen and (min-width: 760px) and (max-width: 1103px) {  
  nav h1 a {
    font-size: 17pt;
    letter-spacing: 7px;
  }
  nav {
    height: 70px;
  }
  #breadcrumb {
    width: 100%;
    position: fixed;
    top: calc(40% - 27px);
  }
  #maincontent {
    height: 100%;
  }
  .inside #map-container {
    background: none;
    height: calc(100% - 123px);
    top: 70px;
    z-index: 3;
    width: 100%;
  }
  .inside #map {
    height: calc(40% - 47px);
    width: 100%;
  }
  #restaurant-img {
    width: 100%;
  }
  #restaurant-container, #reviews-container {
    border-bottom: none;
    border-top: none;
    border-right: none; 
    box-shadow: none;
    padding: 0 4% 40px;
    width: 92%;
    top: calc(40% + 40px);
  }
  #restaurant-address{
    padding: 10px 0;
  }
  #restaurant-hours {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #333;
    line-height: 2;
  }
  #box1{
    max-width: 370px;
    margin-right: 5%;
  }
  #box2{
    width: 50%;
  }
  #box-container{
    display: flex;
  }
  #footer {
    font-size: 7pt;
    padding: 20px 25px;
  }
}